In [1]:
import pandas as pd
from datetime import date, time, datetime

In [2]:
df = pd.read_csv('Beurer.csv', header=None)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       16 non-null     object
dtypes: object(1)
memory usage: 260.0+ bytes

In [4]:
df.tail(6)

                             0
10  03/12/2025;12:24 AM;36.6;;
11  03/12/2025;09:55 AM;37.2;;
12  03/12/2025;09:56 AM;37.2;;
13  03/12/2025;09:57 AM;37.2;;
14  03/15/2025;12:11 PM;37.8;;
15  04/01/2025;09:30 PM;36.8;;

In [5]:
# Split the 'User details' column by semicolons
split_data = df[0].str.split(';', expand=True)

In [6]:
# Check how many columns are created
print(split_data.tail())

             0         1     2 3 4
11  03/12/2025  09:55 AM  37.2
12  03/12/2025  09:56 AM  37.2
13  03/12/2025  09:57 AM  37.2
14  03/15/2025  12:11 PM  37.8
15  04/01/2025  09:30 PM  36.8

In [7]:
# If there are more columns than expected, you can handle them, for example:
# Assuming we expect 3 columns (Date, Time, Temperature), but if there are more, we only take the first 3 columns.
split_data = split_data.iloc[:, :3]

# Assign the columns to the DataFrame
split_data.columns = ['Date', 'Time', 'Temperature']

# Drop the original combined column
df.drop(columns=[0], inplace=True)

In [8]:
# Concatenate the split data with the original DataFrame (if you need other columns)
df = pd.concat([df, split_data], axis=1)

# Save the new DataFrame to a new CSV file
#df.to_csv('split_data.csv', index=False)

In [9]:
# Check the result
pd.DataFrame(df)

                        Date      Time Temperature
0               User details      None        None
1              Gender Female      None        None
2           First name Jas10      None        None
3               Surname Jobs      None        None
4   Date of birth 05/06/2002      None        None
5               Height 5' 3"      None        None
6                Temperature      None        None
7                       Date      Time          °C
8                 03/11/2025  11:43 AM        37.2
9                 03/12/2025  12:21 AM        35.6
10                03/12/2025  12:24 AM        36.6
11                03/12/2025  09:55 AM        37.2
12                03/12/2025  09:56 AM        37.2
13                03/12/2025  09:57 AM        37.2
14                03/15/2025  12:11 PM        37.8
15                04/01/2025  09:30 PM        36.8

In [10]:
df.info() #explains the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         16 non-null     object
 1   Time         9 non-null      object
 2   Temperature  9 non-null      object
dtypes: object(3)
memory usage: 516.0+ bytes

In [11]:
print(df.columns)

Index(['Date', 'Time', 'Temperature'], dtype='object')

In [12]:
# Remove rows 0 to 7 and reset the index
df = df.iloc[8:].reset_index(drop=True)

#print(df)

In [13]:
#print(pd.DataFrame(df))

In [14]:
df['Date&Time'] = pd.to_datetime(df['Date']+' '+df['Time'])

In [15]:
df.drop('Date', axis = 1, inplace=True)

In [16]:
df.drop('Time', axis = 1, inplace=True)

In [17]:
pd.DataFrame(df)

  Temperature           Date&Time
0        37.2 2025-03-11 11:43:00
1        35.6 2025-03-12 00:21:00
2        36.6 2025-03-12 00:24:00
3        37.2 2025-03-12 09:55:00
4        37.2 2025-03-12 09:56:00
5        37.2 2025-03-12 09:57:00
6        37.8 2025-03-15 12:11:00
7        36.8 2025-04-01 21:30:00

In [18]:
df['Date&Time']

0   2025-03-11 11:43:00
1   2025-03-12 00:21:00
2   2025-03-12 00:24:00
3   2025-03-12 09:55:00
4   2025-03-12 09:56:00
5   2025-03-12 09:57:00
6   2025-03-15 12:11:00
7   2025-04-01 21:30:00
Name: Date&Time, dtype: datetime64[ns]

In [19]:
#Assume that this is the input of time of log in 
year = int(input("Enter Year: "))
month = int(input("Enter month: "))
day = int(input("Enter day: "))
hr = int(input("Enter hour: "))
minute = int(input("Enter minute: "))

custom_dt = datetime(year, month, day, hr, minute) #datetime(2025, 3, 29, 14, 30, 0)
print(custom_dt)  # Output: 2025-03-29 14:30:00

Enter Year:  2025
Enter month:  4
Enter day:  1
Enter hour:  21
Enter minute:  30

2025-04-01 21:30:00

In [20]:
filtered_df = df[df['Date&Time'] >= custom_dt]

In [21]:
pd.DataFrame(filtered_df)

  Temperature           Date&Time
7        36.8 2025-04-01 21:30:00

In [22]:
filtered_df.to_csv('OutputTemp.csv', index=False)